.footer0{
    background-color: rgb(238, 238, 238);
   width: 100%;
   display: flex;
}
.footer1{
    width: 33.3%;
    padding-left: 25px;
}
.footer2{
    width: 33.3%;
    padding-left: 25px;
}
.footer3{
    width: 33.3%;
    padding-left: 25px;
}
.footer2 li{
    list-style: none;
    margin-top: 15px;
}
.footer2 li a{
    color: grey;
    text-decoration: none;
}
.footer1 li{
    list-style: none;
    margin-top: 15px;
}
.footer3 li{
    list-style: none;
    margin-top: 15px;
}
.footer3 li a{
    text-decoration: none;
    color: grey;
}